In [44]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

import the necessary libraries

In [45]:
import pandas as pd
import numpy as np

load the dataset

In [46]:
df=pd.read_csv("/content/drive/MyDrive/csv files/excel_files/audible_uncleaned.csv")

variable description
1. "name" - The name of the audiobook.
2. "author" - The audiobook's author.
3. "narrator" - The audiobook's narrator.
4. "time" - The audiobook's duration, in hours and minutes.
5. "releasedate" - The date the audiobook was published.
6. "language" - The audiobook's language.
7. "stars" - The average number of stars (out of 5) and the  number of ratings (if available).
9. "price" - The audiobook's price in INR (Indian Rupee).

In [47]:
df.loc[0]

name           Geronimo Stilton #11 & #12
author          Writtenby:GeronimoStilton
narrator            Narratedby:BillLobely
time                    2 hrs and 20 mins
releasedate                      04-08-08
language                          English
stars          5 out of 5 stars34 ratings
price                              468.00
Name: 0, dtype: object

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

In [49]:
df.describe()

,name,author,narrator,time,releasedate,language,stars,price
count,87489,87489,87489,87489,87489,87489,87489,87489
unique,82767,48374,29717,2284,5058,36,665,1011
top,The Art of War,"Writtenby:矢島雅弘,石橋遊",Narratedby:anonymous,2 mins,16-05-18,English,Not rated yet,586.00
freq,20,874,1034,372,773,61884,72417,5533

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87489 entries, 0 to 87488
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         87489 non-null  object
 1   author       87489 non-null  object
 2   narrator     87489 non-null  object
 3   time         87489 non-null  object
 4   releasedate  87489 non-null  object
 5   language     87489 non-null  object
 6   stars        87489 non-null  object
 7   price        87489 non-null  object
dtypes: object(8)
memory usage: 5.3+ MB

In [51]:
df.isnull().sum().to_frame()

             0
name         0
author       0
narrator     0
time         0
releasedate  0
language     0
stars        0
price        0

Cleaning the author and narrator column

In [52]:
df[["author","narrator"]]

                          author                   narrator
0      Writtenby:GeronimoStilton      Narratedby:BillLobely
1          Writtenby:RickRiordan   Narratedby:RobbieDaymond
2           Writtenby:JeffKinney      Narratedby:DanRussell
3          Writtenby:RickRiordan  Narratedby:SoneelaNankani
4          Writtenby:RickRiordan  Narratedby:JesseBernstein
...                          ...                        ...
87484     Writtenby:ChrisStewart    Narratedby:ChrisStewart
87485    Writtenby:StephenO'Shea      Narratedby:RobertFass
87486        Writtenby:MarkTwain       Narratedby:FloGibson
87487   Writtenby:LaurenceSterne     Narratedby:AntonLesser
87488    Writtenby:MarkKurlansky     Narratedby:FleetCooper

[87489 rows x 2 columns]

In [53]:
df["author"]=df["author"].str.replace("Writtenby:","")
df["narrator"]=df["narrator"].str.replace("Narratedby:","")

In [54]:
df.sample(3)

,name,author,narrator,time,releasedate,language,stars,price
29834,Think Better,TimHurson,ChristopherPrince,6 hrs and 28 mins,20-07-21,English,Not rated yet,586.00
50315,Mistletoe at Moonstone Lake,HollyMartin,PennyAndrews,6 hrs and 12 mins,04-11-21,English,Not rated yet,539.00
25127,Gino Bartali. Una bici contro il fascismo,AlbertoToscano,MarcoCavalcoli,5 hrs and 18 mins,22-10-19,italian,Not rated yet,267.00

splitting the stars column to the number of stars and number of rating

In [55]:
def clean_stars(x):
  if x=="Not rated yet":
    return np.NaN
  else:
    return float(x.split()[0])
def clean_ratings(x):
    if x=="Not rated yet":
        return np.NaN
    else:
         return float(x.split("stars")[1][0:2].strip(", "))

df["no_stars"]=df["stars"].apply(lambda x:clean_stars(x))
df["no_ratings"]=df["stars"].apply(lambda x:clean_ratings(x))

In [56]:
df.shape

(87489, 10)

Changing the datatypes of columns:
1. price to float

2. `rating_stars` to category
3.  `releasedate` to datetime

In [57]:
df['price']=df['price'].str.replace(',','')
def pricing(price):
  if price=="Free":
    return 0.00
  else:
    return float(price)
df['price']=df['price'].apply(lambda x: pricing(x))

In [58]:
df['price'].dtype

dtype('float64')

In [59]:
df["no_stars"]=df["no_stars"].fillna(0)

In [60]:
df["no_stars"]=df["no_stars"].astype("category")

In [61]:
df['no_stars'].dtype

CategoricalDtype(categories=[0.0, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0], ordered=False)

In [62]:
df['releasedate']=pd.to_datetime(df['releasedate'])

In [63]:
df["releasedate"].dtype

dtype('<M8[ns]')

Extract hours and minutes from the time column


1. Ihr, hrs -> consolidate as hr
2.  min, mins -> consolidate as min
3. Less than 1 minute -> round to 1 min

In [64]:
df[df["time"]=="Less than 1 minute"]

,name,author,narrator,time,releasedate,language,stars,price,no_stars,no_ratings
1401,The Story of Ice Cream,StacyTaus-Bolstad,BookBuddyDigitalMedia,Less than 1 minute,2021-01-01,English,Not rated yet,164.0,0.0,NaN
1403,The Story of Salt,LisaOwings,BookBuddyDigitalMedia,Less than 1 minute,2021-01-01,English,Not rated yet,164.0,0.0,NaN
1404,The Story of Milk,StacyTaus-Bolstad,BookBuddyDigitalMedia,Less than 1 minute,2021-01-01,English,Not rated yet,164.0,0.0,NaN
1408,The Story of an Apple,StacyTaus-Bolstad,BookBuddyDigitalMedia,Less than 1 minute,2021-01-01,English,Not rated yet,164.0,0.0,NaN
1409,We Like the Summer,KatiePeters,BookBuddyDigitalMedia,Less than 1 minute,2021-01-01,English,Not rated yet,164.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...
87171,第二十五話サン・ミシェルのいいカフェ：ぼくの旅の手帖〜または珈琲のある風景,森本哲郎,小野田英一,Less than 1 minute,2015-11-20,japanese,Not rated yet,139.0,0.0,NaN
87175,第九話オラン最後の夕べ：ぼくの旅の手帖〜または珈琲のある風景,森本哲郎,小野田英一,Less than 1 minute,2015-11-19,japanese,Not rated yet,139.0,0.0,NaN
87176,第一話リューベックの追憶:ぼくの旅の手帖〜または珈琲のある風景,森本哲郎,小野田英一,Less than 1 minute,2015-07-23,japanese,Not rated yet,139.0,0.0,NaN
87180,第七話バグダードの茶屋:ぼくの旅の手帖〜または珈琲のある風景,森本哲郎,小野田英一,Less than 1 minute,2015-07-13,japanese,Not rated yet,139.0,0.0,NaN
87192,第十八話バンコックの憂鬱：ぼくの旅の手帖〜または珈琲のある風景,森本哲郎,小野田英一,Less than 1 minute,2015-11-19,japanese,Not rated yet,139.0,0.0,NaN

In [65]:
df["time"] = df["time"].str.replace("hrs", "hr").str.replace("mins", "min").str.replace("Less than 1 minute","1 min")

In [66]:
df["time"]

0         2 hr and 20 min
1         13 hr and 8 min
2          2 hr and 3 min
3        11 hr and 16 min
4                   10 hr
               ...
87484     7 hr and 34 min
87485     10 hr and 7 min
87486     19 hr and 4 min
87487      4 hr and 8 min
87488      6 hr and 1 min
Name: time, Length: 87489, dtype: object

alternative way to use replace
> df["time"] = df["time"].replace({
    "hrs": "hr",
    "mins": "min",
    "Less than 1 minute": "1 min"
})

In [67]:
df["hours"]=df['time'].str.extract("(\d+) hr")

In [68]:
df['hours'].sample(5)

72131    8
11863    6
67899    1
49168    3
8459     1
Name: hours, dtype: object

In [69]:
df["mins"]=df['time'].str.extract("(\d+) min")

In [70]:
df["mins"].sample(5)

81216    NaN
12562     46
16297     18
30003     11
54967     38
Name: mins, dtype: object

In [71]:
df["hours"]=df["hours"].astype(float)

In [72]:
df["mins"]=df["mins"].astype(float)

In [73]:
df["total_mins"]=df["hours"]*60+df["mins"]

In [74]:
df["total_mins"].sample(5)

16706    1738.0
3692      183.0
70746     582.0
34160     204.0
83140     429.0
Name: total_mins, dtype: float64

In [75]:
df["total_mins"]=df["total_mins"].fillna(0).astype(int)

drop the columns that are not needed

In [76]:
df.drop(columns=["time"],axis=1,inplace=True)

checking for duplicates

In [77]:
df.duplicated().value_counts()

False    87489
dtype: int64

dealing with missing data

Column no of stars and no of ratings have more null values than other columns.It is not necessary to remove all null values as we can use these rows can be useful in visualizing the profit distribution.


> Thus filling nan values to 0

In [79]:
df[["no_ratings","hours","mins"]]=df[["no_ratings","hours","mins"]].fillna(0)

In [81]:
df.isna().sum()

name           0
author         0
narrator       0
releasedate    0
language       0
stars          0
price          0
no_stars       0
no_ratings     0
hours          0
mins           0
total_mins     0
dtype: int64